@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.StartNewGame {
    width: 100vw;
    height: 100vh;
    background: rgba(166, 222, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.requestForNumberOfPlayers {
    width: 450px;
    height: 400px;
    padding-top: 20px;
    border-radius: 10px;
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.5);;
    background: rgba(166, 222, 255, 0.8);
    font-size: 14px;
}

.numberOfPlayersButtons {
    display: flex;
    align-items: center;
    height: 100%;
    /* padding: 5px; */
    /* background: green; */
    /* justify-content: center; */
    /* text-align: center; */
}

.goodWizard, .evilWizard {
    width: 50%;
    height: auto;
    /* background: gray; */
    padding: 5px;
}

.selectSideHeroes {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* .selectHeroButton {
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
} */

.selectHeroButton {
    width: 180px;
    height: 60px;
    margin: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #91C9FF;
    border-radius: 4px;
    outline: none;
    transition: 0.5s ease-in-out;
    font-weight: bold;
  }

  .selectedHeroButton {
    border: 1px solid rgb(247, 100, 161);
  }

  .redHeroButton {
    border: 10px solid darkred;
  }
  
  .selectHeroButton:hover {
    transition: 0.5s ease-in-out;
    background: #4F95DA;
  }
  
  /* .selectHeroButton span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  } */

.startGameButton {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    /* background: #11111100; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    font-size: 18px;
}

.startGameButton:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

/* .startGameButton:active {
    color: #000
} */

.startGameButton:active:after {
    background: transparent;
}

.startGameButton:hover:before {
    opacity: 1;
}

.startGameButton:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

